[GLOBAL]
exec_on_call_ignored=0
program_ssip_proxy=1
program_ssip_localhost_port=10000
rtp_base_port=10000
plugins_inout_dir=/home/riguera/PROYECTO/pruebas/pruebas/fin/
plugins_codecs_dir=/home/riguera/PROYECTO/pruebas/pruebas/fin/
plugins_effect_dir=/home/riguera/PROYECTO/pruebas/pruebas/fin/
contact_db=/home/riguera/PROYECTO/pruebas/pruebas/fin/hola.xml
program_hostname=192.168.1.2
default_inout_plugin=liboss.so
audio_mic_vol=58
audio_spk_vol=65
ssip_remote_host=192.168.1.2
ssip_remote_host_port=40000
ssip_notify_host=192.168.1.2
ssip_notify_host_port=30000
ssip_notify_pass=14948
hostname=192.168.1.2
ssip_localhost_port=10000
ssip_proxy=0

[OSS]
audio_device_in=/dev/dsp
mixer_device_in=/dev/mixer
audio_source=0
audio_device_out=/dev/dsp
mixer_device_out=/dev/mixer
volume_control=0

